<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Hey, welcome to REippER!</h1>
    <br>
    <a class="btn btn-dark btn-lg" href="/account?id=<%= userid %>" role="button">Your Account</a>
    <hr>
    <% console.log(usersWithSecrets);
    usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>
    <hr>
    <a class="btn btn-dark btn-lg" href="/transaction?id=<%= userid %>" role="button">Buy Assets</a>
    <a class="btn btn-light btn-lg" href="/item" role="button" target="_blank">Asset on Sale</a>
    <a class="btn btn-dark btn-lg" href="/sell" role="button">Sell Assets</a>
    <a class="btn btn-light btn-lg" href="/balance" role="button">Add Money</a>
    <a class="btn btn-dark btn-lg" href="/history" role="button">Transation History</a>
    <a class="btn btn-light btn-lg" href="/money?id=<%= userid %>" role="button">Account Balance</a>
    <a class="btn btn-dark btn-lg" href="/ret" role="button">Complete Documentation</a>
    <a class="btn btn-light btn-lg" href="/stat?id=<%= userid %>" role="button" target="_blank">Check Status</a>
    <a class="btn btn-dark btn-lg" href="/Pay" role="button" target="_blank">Add Credit Details</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>

</div>

<%- include('partials/footer') %>
